@import 'tailwindcss';

:root {
  /* colors */
  --background: #ffffff;
  --foreground: #000000;
  --primary: #00defc;
  --primary-foreground: #ffffff;
  --container: #f6fafe;
  --container-foreground: #2f566e;
  --accent: #ccfaff;
  --accent-foreground: #012975;
  --information: #c7e7ff;
  --information-foreground: #012975;
  --success: #02e8cd;
  --success-foreground: #012975;
  --muted: #e5e8ed;
  --muted-foreground: #181c20;
  --warning: #ffdad6;
  --warning-foreground: #3b0907;
  --error: #ff0000;
  --error-foreground: #ffffff;
}

@theme inline {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-container: var(--container);
  --color-container-foreground: var(--container-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-information: var(--information);
  --color-information-foreground: var(--information-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
